/***** GLOBAL *******/
/*******************/

*{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
}

a:hover{
    cursor: pointer;
}

.shells{
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;

}


h1{
    max-width: 500px;
    text-wrap: wrap;
    margin: 0;
    color: rgb(231, 231, 231);
    font-size: 4rem;
    z-index: 999;

}

p{
    color:#051B3A;


}



/********  HEADER NAV ***********/

nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #051B3A;
    width: 100%;
    padding: 1rem;
    z-index: 99999;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}


/********* HERO SECTION *********/

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    background-color: rgb(196, 195, 195);
    padding: .7rem;
    right: 0;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

hero{
    display: flex;
    width: 100%;
    height: 100vh;
    height: 100svh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.flex-container{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
}

card{
    padding: 1rem;
    position: relative;
    width: 187px;
    min-height: 150px;
    margin: 1rem 0;
    background: rgba(13, 80, 224, 0.26);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #051B3A;
}



.form-wrapper{
    width: fit-content;
    text-align: center;
    position: relative;
    line-height: 4rem;
    padding: 3rem 4rem;
    background: rgba(255, 255, 255, 0.164);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Style for the file input label as a button */
.file-upload-button {
    display: inline-block;
    background-color: #00B777; /* Button background color */
    color: #051B3A; /* Text color */
    padding: 0 20px; /* Padding to control button size */
    border: none; /* Remove button border */
    border-radius: 20px; /* Round the corners */
    cursor: pointer;
}

.file-upload-button input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
 
}

/* Style for the Convert button as a rounded button */
.rounded-button {
    padding: 20px 20px; /* Adjust the padding to control button size */
    background-color: #00B777; /* Button background color */
    color: #051B3A; /* Text color */
    border: none; /* Remove button border */
    border-radius: 20px; /* Round the corners */
    cursor: pointer;
    font-size: inherit;
}

/* Hover effect for the rounded button */
.rounded-button:hover {
    background-color: #2980b9; /* Change the background color on hover */
}


/***** FOOTER *******/
/*******************/

footer{
    background-color: #051937;
    padding: 1rem;
    color: #e8e8f1;
    font-size: x-small;
}


/**************************/
/******* MEDIA Q'S ********/
/*************************/


@media only screen and (max-width: 725px) {
    .form-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-self: space-evenly;
    }

    h1{
        font-size: 3rem;
        display: block;
    }

    .flex-container.card{
        flex-direction: row;
        gap: 0;
    }

    card{

        width: 134px;
        height: 150px;
    }

    .icon-container{
        top: 0;
        flex-direction: row;
        z-index: 999999;
    }

  }
